.block_red {
  height: 200px;
  width: 200px;
  background-color: red;
  width: 20%;
  float: left;
}
.block_green {
  height: 200px;
  width: 200px;
  background-color: green;
  width: 20%;
  float: left;
}
.block_blue {
  height: 200px;
  width: 200px;
  background-color: blue;
  width: 20%;
  float: left;
}
.block_yellow {
  height: 200px;
  width: 200px;
  background-color: yellow;
  width: 20%;
  float: left;
}
.block_black {
  height: 200px;
  width: 200px;
  background-color: black;
  width: 20%;
  float: left;
}
